.nav-list {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    position: relative;
}

.text-white {
    text-decoration: none;
    color:whitesmoke;
    font-weight: bolder;

}

#hero {
    background-image: url(./assets/hero1.png);
    height: 98vh;
    width: 98vw;
    background-size: cover;
    background-attachment: fixed;
}

.hero-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.logo {
    font-size: 1.6rem;
    color: whitesmoke;
    font-weight: bolder;
}

.wed {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items:center;
    width: 80%;
    margin: auto;
    
}

.wed-image {
width: 50%;
}

.wed-image img {
    width: 100%;
}

.couple {
    color: whitesmoke;
    font-style: italic;
    font-size: 4rem;
}

.wedding {
color: whitesmoke;
}